.reserve{
    margin: 80px auto 0 0;
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
      "checks scheme"
      "order legend"; 
    width: 100%;
    @media @bw1340 {
      gap: 65px 6.5%;
      grid-template-columns: 340px calc(93.5% - 340px);
    }
    @media @bw1020 {
      gap: 60px;
      grid-template-columns: auto 390px;
      grid-template-areas: 
        "scheme scheme"
        "checks legend"
        "checks order"; 
    }
    @media @bw768 {
      grid-template-columns: 100%;
      grid-template-areas: 
        "scheme"
        "legend"
        "checks"
        "order"; 
      
    }
    &__checks{
      grid-area: checks;
      display: flex;
      flex-direction: column;
      max-width: 218px;
      margin-right: 0;
    }
    &__check-title{
      margin-bottom: 31px;
    }
    &__check{
      margin-bottom: 10px;
    }
    &__order {
      grid-area: order;
      display: flex;
      flex-direction: column;
      max-width: 405px;
    }
    &__tickets {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        align-items: baseline;
      }
      &__qty {
        &::after {
          content: " " attr(data-caption) " | " attr(data-price);
        }
      }
      &__sum {
        font-weight: 600;
        font-size: 18px;
        &::after {
          content: attr(data-currency);
          margin-left: 4px;
          font-size: 0.95em;
        }
      }
      &__total {
        margin-top: 8px;
        margin-bottom: 53px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        &::before {
          content: attr(data-caption);
          margin-right: 30px;
        }
        &::after {
          content: attr(data-currency);
          margin-left: 4px;
          font-size: 0.95em;
        }
      }
    &__scheme{
      grid-area: scheme;
      display: flex;
      justify-content: center;
      height: auto;
    }
    &__scheme-container{
      display: block;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      margin:auto;
    }
    &__scheme-wrapper {
        margin: 0 auto 0;
        max-width: 780px;
        content: "";
        display: block;
        width: 100%;
        margin-bottom: 0px;
      }
    &__scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__checks-section-title{
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    &__order-section-title{
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    &__legend-section-title{
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
  
    
    &__scheme-title{
      align-content: center;
      text-align: center;
      display: block;
      margin: 0 auto 0;
      position: relative;
      margin-bottom: 40px;
      max-width: 162px;
      width: 100%;
      height: 34px;
      font-size: 16px;
      font-weight: 600;
      color: @white;
      background-color: @black;
    }
    &__legend{
      grid-area: legend;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 0;
      max-width: 355px;
      margin-left: auto;
    }
      &__legend-list{
        margin-bottom: 19px;
      }
      &__legend-note{
        display: flex;
      flex-direction: column;
      align-items: flex-end;
      }
      &__legend-qty {
        display: flex;
        align-items: center;
        padding-bottom: 18px;
        font-size: 14px;
        &::after {
          content: attr(data-price) attr(data-currency);
        }
      }
      &__legend-rectangle {
        justify-content: flex-start;
        width: 24px; /* Ширина прямоугольников */
        height: 24px; /* Высота прямоугольников */
        margin-right: 9px;
      }
      &__legend-rectangle.red {
          background-color: @red; /* Красный цвет */
      }
      &__legend-rectangle.black {
          background-color: @black;
      }
      &__legend-available,
      &__legend-booked{
        display: flex;
        align-items: center;
        font-weight: 400;
        margin-bottom: 9px;
        font-size: 14px;
        font: @font1;
      }
      &__legend-ellipse--available{
        box-sizing: border-box;
        margin-top: 6px;
        margin-right: 21px;
      }
      &__legend-ellipse--booked{
        margin-top: 6px;
        margin-right: 29px;
      }
  }